</div></main>
<footer class="text-muted small bg-dark py-4" id="footer">
  <div class="container"><div class="row"><div class="col">Powered by <b>XiuGo <span>5.0.0</span></b></div><div class="col text-right">Go</div></div></div>
</footer>
<script src="/lang/zh-cn/bbs.js"></script>
<script src="/view/js/jquery-3.1.0.js"></script>
<script src="/view/js/popper.js"></script>
<script src="/view/js/bootstrap.js"></script>
<script src="/view/js/xiuno.js"></script>
<script src="/view/js/bootstrap-plugin.js"></script>
<script src="/view/js/async.js"></script>
<script src="/view/js/form.js"></script>
<script>var debug = DEBUG = 0; var url_rewrite_on = 0; var fid = 0;</script>
<script src="/view/js/bbs.js"></script>
</body></html>
