<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="XiuGo 5.0">
  <title>{{.Title}}</title>
  <link rel="shortcut icon" href="/view/img/favicon.ico">
  <link rel="stylesheet" href="/view/css/bootstrap.css">
  <link rel="stylesheet" href="/view/css/bootstrap-bbs.css">
  <link rel="stylesheet" href="/admin/view/css/admin.css">
</head>
<body>
<header class="navbar navbar-expand-md navbar-dark bg-dark" id="header">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav"><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand" href="/admin/"><img src="/view/img/logo.png" class="logo-2"><span class="d-md-none">{{.Title}}</span></a>
    <a class="navbar-brand d-md-none" href="/" title="前台"><i class="icon-home"></i></a>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item home {{if eq .Active "home"}}active{{end}}"><a class="nav-link" href="/admin/"><i class="icon-home"></i> 后台</a></li>
        <li class="nav-item nav-item-setting {{if eq .Active "setting"}}active{{end}}"><a class="nav-link" href="/admin/?setting-base.htm"><i class="icon-cog"></i> 设置</a></li>
        <li class="nav-item nav-item-forum {{if eq .Active "forum"}}active{{end}}"><a class="nav-link" href="/admin/?forum-list.htm"><i class="icon-comment"></i> 版块</a></li>
        <li class="nav-item nav-item-thread {{if eq .Active "thread"}}active{{end}}"><a class="nav-link" href="/admin/?thread-list.htm"><i class="icon-comment"></i> 主题</a></li>
        <li class="nav-item nav-item-user {{if eq .Active "user"}}active{{end}}"><a class="nav-link" href="/admin/?user-list.htm"><i class="icon-user"></i> 用户</a></li>
        <li class="nav-item nav-item-other {{if eq .Active "other"}}active{{end}}"><a class="nav-link" href="/admin/?other.htm"><i class="icon-wrench"></i> 其他</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/my"><img class="avatar-1" src="/view/img/avatar.png"> {{.User.Username}}</a></li>
        <li class="nav-item"><a class="nav-link" href="/"><i class="icon-home"></i> 前台</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/?index-logout.htm"><i class="icon-sign-out"></i> 退出</a></li>
      </ul>
    </div>
  </div>
</header>
<main id="body"><div class="container">
