{{include "layout/header.html" .}}
{{if .Mine}}
<div class="btn-group mb-3 d-lg-none" role="group" id="my_mobile_nav">
  <a role="button" class="btn btn-secondary" data-active="menu-my" href="/my">个人资料</a>
  <a role="button" class="btn btn-secondary" data-active="menu-my-thread" href="/my/threads">论坛帖子</a>
</div>
<div class="row">
  <div class="col-lg-2 hidden-md hidden-sm" id="my_aside">
    <div class="card">
      <div class="card-body text-center">
        <img class="avatar-4" src="{{if .Profile.AvatarURL}}{{.Profile.AvatarURL}}{{else}}/view/img/avatar.png{{end}}">
        <br>{{.Profile.Username}}
      </div>
      <div class="list-group list-group-flush text-center">
        <a href="/my" class="list-group-item list-group-item-action" data-active="menu-my">个人资料</a>
        <a href="/my/threads" class="list-group-item list-group-item-action" data-active="menu-my-thread">论坛帖子</a>
      </div>
    </div>
  </div>
  <div class="col-lg-10" id="my_main">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/my/threads" data-active="my-thread">主题</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ul class="list-unstyled threadlist mb-0">
          {{include "partials/thread_list.html" .}}
        </ul>
        <nav class="my-3">{{if .Pagination.HTML}}{{.Pagination.HTML}}{{end}}</nav>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="btn-group mb-3 d-lg-none" role="group" id="user_mobile_nav">
  <a role="button" class="btn btn-secondary" data-active="menu-user" href="/user/{{.Profile.Uid}}">个人资料</a>
  <a role="button" class="btn btn-secondary" data-active="menu-user-thread" href="/user/{{.Profile.Uid}}/threads">论坛帖子</a>
</div>
<div class="row">
  <div class="col-lg-2 hidden-md hidden-sm" id="user_aside">
    <div class="card">
      <div class="card-body text-center">
        <img class="avatar-4" src="{{if .Profile.AvatarURL}}{{.Profile.AvatarURL}}{{else}}/view/img/avatar.png{{end}}">
        <br>{{.Profile.Username}}
      </div>
      <div class="list-group list-group-flush text-center" id="user_nav">
        <a href="/user/{{.Profile.Uid}}" class="list-group-item list-group-item-action" data-active="menu-user">个人资料</a>
        <a href="/user/{{.Profile.Uid}}/threads" class="list-group-item list-group-item-action" data-active="menu-user-thread">论坛帖子</a>
      </div>
    </div>
  </div>
  <div class="col-lg-10" id="user_main">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/user/{{.Profile.Uid}}/threads" data-active="user-thread">主题</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ul class="list-unstyled threadlist mb-0">
          {{include "partials/thread_list.html" .}}
        </ul>
        <nav class="my-3">{{if .Pagination.HTML}}{{.Pagination.HTML}}{{end}}</nav>
      </div>
    </div>
  </div>
</div>
{{end}}
{{include "layout/footer.html" .}}
